Understanding the Dataset to explore how the data is present in the database and if there is a need of creating some aggregated tables that can help with 
Vendor selection for profitablity
Product pricing Optimization

In [1]:
import pandas as pd
import sqlite3

In [2]:
#creating databse connection
conn = sqlite3.connect('inventory.db')

In [3]:
#tables present in the databse
tables = pd.read_sql_query("SELECT name from sqlite_master WHERE type = 'table' ",conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [4]:
for table in tables['name']:
    print('-' * 50, f'{table}', '-' * 50)
    print('Count of records:', pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", conn)['count'].values[0])
    display(pd.read_sql(f"SELECT * FROM {table} limit 5", conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 10692

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

Exploring tables for better analaysis.
selecting a vendor and exploring how the information is stored in these tables.

In [5]:
purchases = pd.read_sql_query("select * from purchases where VendorNumber = 105",conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8234,2023-12-29,2024-01-04,2024-01-17,2024-02-22,35.71,6,214.26,1
2,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8234,2023-12-29,2024-01-07,2024-01-17,2024-02-22,35.71,6,214.26,1
3,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,2024-02-18,2024-02-22,2024-03-31,35.71,6,214.26,1
4,10_HORNSEY_8412,10,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,2024-02-17,2024-02-22,2024-03-31,35.71,6,214.26,1
5,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8836,2024-02-09,2024-02-15,2024-02-22,2024-03-31,35.71,6,214.26,1
6,32_MOUNTMEND_8412,32,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8979,2024-02-18,2024-02-23,2024-03-05,2024-04-15,35.71,6,214.26,1
7,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9016,2024-02-21,2024-03-01,2024-03-13,2024-04-11,35.71,6,214.26,1
8,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9131,2024-02-29,2024-03-08,2024-03-14,2024-04-17,35.71,3,107.13,1
9,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9449,2024-03-22,2024-03-29,2024-04-09,2024-05-12,35.71,6,214.26,1
10,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9518,2024-03-27,2024-04-06,2024-04-12,2024-05-17,35.71,6,214.26,1
11,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9719,2024-04-10,2024-04-19,2024-04-28,2024-06-12,35.71,6,214.26,1
12,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9719,2024-04-10,2024-04-19,2024-04-28,2024-06-12,35.71,6,214.26,1
13,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9871,2024-04-20,2024-04-27,2024-05-10,2024-06-10,35.71,6,214.26,1
14,54_GUTHRAM_2529,54,2529,Right Gin,750mL,105,ALTAMAR BRANDS LLC,9952,2024-04-26,2024-05-06,2024-05-16,2024-06-25,23.25,6,139.50,1
15,74_PAENTMARWY_8412,74,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,9952,2024-04-26,2024-05-05,2024-05-16,2024-06-25,35.71,12,428.52,1
16,60_IRRAGIN_8412,60,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10021,2024-05-01,2024-05-12,2024-05-23,2024-06-26,35.71,3,107.13,1
17,37_PAETHSMOUTH_8412,37,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10222,2024-05-15,2024-05-27,2024-06-04,2024-07-05,35.71,2,71.42,1
18,47_PELLA'S WISH_8412,47,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10377,2024-05-25,2024-06-04,2024-06-12,2024-07-19,35.71,1,35.71,1
19,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10377,2024-05-25,2024-05-31,2024-06-12,2024-07-19,35.71,5,178.55,1
20,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10465,2024-05-31,2024-06-06,2024-06-21,2024-07-16,35.71,6,214.26,1
21,41_LARNWICK_8412,41,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10465,2024-05-31,2024-06-08,2024-06-21,2024-07-16,35.71,6,214.26,1
22,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10578,2024-06-08,2024-06-16,2024-06-28,2024-08-02,35.71,6,214.26,1
23,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10632,2024-06-12,2024-06-24,2024-06-29,2024-08-12,35.71,6,214.26,1
24,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10632,2024-06-12,2024-06-23,2024-06-29,2024-08-12,35.71,6,214.26,1
25,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10797,2024-06-23,2024-06-27,2024-07-07,2024-08-14,35.71,6,214.26,1
26,37_PAETHSMOUTH_8412,37,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10835,2024-06-25,2024-07-01,2024-07-08,2024-08-05,35.71,2,71.42,1
27,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10998,2024-07-01,2024-07-05,2024-07-11,2024-08-12,35.71,6,214.26,1
28,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,10998,2024-07-01,2024-07-05,2024-07-11,2024-08-12,35.71,5,178.55,1
29,60_IRRAGIN_8412,60,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11170,2024-07-13,2024-07-18,2024-07-29,2024-08-27,35.71,6,214.26,1
30,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11310,2024-07-22,2024-07-27,2024-08-04,2024-09-14,35.71,6,214.26,1
31,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11310,2024-07-22,2024-07-29,2024-08-04,2024-09-14,35.71,6,214.26,1
32,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11381,2024-07-27,2024-08-03,2024-08-10,2024-09-21,35.71,5,178.55,1
33,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11381,2024-07-27,2024-08-03,2024-08-10,2024-09-21,35.71,6,214.26,1
34,50_MOUNTMEND_8412,50,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11565,2024-08-09,2024-08-17,2024-08-23,2024-09-22,35.71,12,428.52,1
35,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11666,2024-08-16,2024-08-22,2024-08-31,2024-10-03,35.71,6,214.26,1
36,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11817,2024-08-26,2024-08-29,2024-09-10,2024-10-14,35.71,6,214.26,1
37,38_GOULCREST_8412,38,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11835,2024-08-28,2024-09-09,2024-09-15,2024-10-14,35.71,6,214.26,1
38,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,2024-09-13,2024-09-27,2024-10-26,35.71,6,214.26,1
39,55_DRY GULCH_8412,55,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,2024-09-14,2024-09-27,2024-10-26,35.71,6,214.26,1
40,41_LARNWICK_8412,41,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,11938,2024-09-04,2024-09-14,2024-09-27,2024-10-26,35.71,6,214.26,1
41,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12057,2024-09-12,2024-09-22,2024-10-03,2024-11-05,35.71,6,214.26,1
42,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12352,2024-09-27,2024-10-04,2024-10-18,2024-11-13,35.71,6,214.26,1
43,49_GARIGILL_8412,49,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12499,2024-10-07,2024-10-11,2024-10-19,2024-12-03,35.71,6,214.26,1
44,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12499,2024-10-07,2024-10-12,2024-10-19,2024-12-03,35.71,6,214.26,1
45,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12583,2024-10-13,2024-10-20,2024-10-30,2024-12-08,35.71,6,214.26,1
46,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12618,2024-10-16,2024-10-24,2024-11-04,2024-12-13,35.71,6,214.26,1
47,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12802,2024-10-28,2024-11-02,2024-11-10,2024-12-24,35.71,6,214.26,1
48,67_EANVERNESS_8412,67,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12874,2024-11-02,2024-11-07,2024-11-15,2024-12-19,35.71,6,214.26,1
49,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,12874,2024-11-02,2024-11-07,2024-11-15,2024-12-19,35.71,6,214.26,1
50,55_DRY GULCH_8412,55,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13050,2024-11-14,2024-11-23,2024-12-05,2025-01-02,35.71,6,214.26,1
51,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13304,2024-12-01,2024-12-05,2024-12-18,2025-01-13,35.71,6,214.26,1
52,34_PITMERDEN_8412,34,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13336,2024-12-04,2024-12-15,2024-12-24,2025-02-04,35.71,6,214.26,1
53,32_MOUNTMEND_8412,32,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13445,2024-12-11,2024-12-21,2024-12-28,2025-02-11,35.71,6,214.26,1
54,66_EANVERNESS_8412,66,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,2024-12-28,2025-01-02,2025-02-15,35.71,6,214.26,1
55,15_WANBORNE_8412,15,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,2024-12-26,2025-01-02,2025-02-15,35.71,6,214.26,1
56,54_GUTHRAM_2529,54,2529,Right Gin,750mL,105,ALTAMAR BRANDS LLC,13607,2024-12-21,2024-12-27,2025-01-02,2025-02-15,23.25,6,139.50,1

In [6]:
purchase_prices = pd.read_sql_query("select * from purchase_prices where VendorNumber = 105",conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,8412,Tequila Ocho Plata Fresno,49.99,750mL,750,1,35.71,105,ALTAMAR BRANDS LLC
1,8419,Ocho Tequila Plata Corrales,6.99,100mL,100,1,5.30,105,ALTAMAR BRANDS LLC
2,2529,Right Gin,29.99,750mL,750,1,23.25,105,ALTAMAR BRANDS LLC

In [7]:
vendor_invoice = pd.read_sql_query("select * from vendor_invoice where VendorNumber = 105",conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,105,ALTAMAR BRANDS LLC,2024-01-17,8234,2023-12-29,2024-02-22,12,428.52,2.19,None
2,105,ALTAMAR BRANDS LLC,2024-02-22,8836,2024-02-09,2024-03-31,18,642.78,3.02,None
3,105,ALTAMAR BRANDS LLC,2024-03-05,8979,2024-02-18,2024-04-15,6,214.26,1.11,None
4,105,ALTAMAR BRANDS LLC,2024-03-13,9016,2024-02-21,2024-04-11,6,214.26,1.09,None
5,105,ALTAMAR BRANDS LLC,2024-03-14,9131,2024-02-29,2024-04-17,3,107.13,0.57,None
6,105,ALTAMAR BRANDS LLC,2024-04-09,9449,2024-03-22,2024-05-12,6,214.26,1.07,None
7,105,ALTAMAR BRANDS LLC,2024-04-12,9518,2024-03-27,2024-05-17,6,214.26,1.11,None
8,105,ALTAMAR BRANDS LLC,2024-04-28,9719,2024-04-10,2024-06-12,12,428.52,2.31,None
9,105,ALTAMAR BRANDS LLC,2024-05-10,9871,2024-04-20,2024-06-10,6,214.26,1.18,None
10,105,ALTAMAR BRANDS LLC,2024-05-16,9952,2024-04-26,2024-06-25,18,568.02,3.12,None
11,105,ALTAMAR BRANDS LLC,2024-05-23,10021,2024-05-01,2024-06-26,3,107.13,0.57,None
12,105,ALTAMAR BRANDS LLC,2024-06-04,10222,2024-05-15,2024-07-05,2,71.42,0.39,None
13,105,ALTAMAR BRANDS LLC,2024-06-12,10377,2024-05-25,2024-07-19,6,214.26,1.16,None
14,105,ALTAMAR BRANDS LLC,2024-06-21,10465,2024-05-31,2024-07-16,12,428.52,2.36,None
15,105,ALTAMAR BRANDS LLC,2024-06-28,10578,2024-06-08,2024-08-02,6,214.26,1.16,None
16,105,ALTAMAR BRANDS LLC,2024-06-29,10632,2024-06-12,2024-08-12,12,428.52,2.31,None
17,105,ALTAMAR BRANDS LLC,2024-07-07,10797,2024-06-23,2024-08-14,6,214.26,1.05,None
18,105,ALTAMAR BRANDS LLC,2024-07-08,10835,2024-06-25,2024-08-05,2,71.42,0.36,None
19,105,ALTAMAR BRANDS LLC,2024-07-11,10998,2024-07-01,2024-08-12,11,392.81,1.92,None
20,105,ALTAMAR BRANDS LLC,2024-07-29,11170,2024-07-13,2024-08-27,6,214.26,1.05,None
21,105,ALTAMAR BRANDS LLC,2024-08-04,11310,2024-07-22,2024-09-14,12,428.52,2.10,None
22,105,ALTAMAR BRANDS LLC,2024-08-10,11381,2024-07-27,2024-09-21,11,392.81,2.00,None
23,105,ALTAMAR BRANDS LLC,2024-08-23,11565,2024-08-09,2024-09-22,12,428.52,2.10,None
24,105,ALTAMAR BRANDS LLC,2024-08-31,11666,2024-08-16,2024-10-03,6,214.26,0.99,None
25,105,ALTAMAR BRANDS LLC,2024-09-10,11817,2024-08-26,2024-10-14,6,214.26,1.05,None
26,105,ALTAMAR BRANDS LLC,2024-09-15,11835,2024-08-28,2024-10-14,6,214.26,1.11,None
27,105,ALTAMAR BRANDS LLC,2024-09-27,11938,2024-09-04,2024-10-26,18,642.78,3.34,None
28,105,ALTAMAR BRANDS LLC,2024-10-03,12057,2024-09-12,2024-11-05,6,214.26,1.11,None
29,105,ALTAMAR BRANDS LLC,2024-10-11,12376,2024-09-29,2024-11-14,6,214.26,1.16,None
30,105,ALTAMAR BRANDS LLC,2024-10-23,12486,2024-10-06,2024-12-04,12,428.52,2.27,None
31,105,ALTAMAR BRANDS LLC,2024-11-01,12537,2024-10-10,2024-12-05,6,214.26,0.96,None
32,105,ALTAMAR BRANDS LLC,2024-10-31,12634,2024-10-17,2024-12-08,6,214.26,1.03,None
33,105,ALTAMAR BRANDS LLC,2024-11-11,12765,2024-10-26,2024-12-11,6,214.26,1.11,None
34,105,ALTAMAR BRANDS LLC,2024-11-20,12871,2024-11-01,2024-12-22,12,428.52,2.31,None
35,105,ALTAMAR BRANDS LLC,2024-11-28,13053,2024-11-14,2025-01-13,6,214.26,1.16,None
36,105,ALTAMAR BRANDS LLC,2024-12-19,13293,2024-11-30,2025-01-16,6,214.26,1.09,None
37,105,ALTAMAR BRANDS LLC,2024-12-20,13349,2024-12-05,2025-02-01,6,214.26,1.18,None
38,105,ALTAMAR BRANDS LLC,2025-01-03,13464,2024-12-12,2025-02-05,6,214.26,1.14,None
39,105,ALTAMAR BRANDS LLC,2025-01-04,13575,2024-12-19,2025-02-03,18,568.02,2.61,None

In [8]:
sales = pd.read_sql_query("select * from sales where VendorNo = 105",conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_8412,1,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-01-24,750.0,1,0.79,105,ALTAMAR BRANDS LLC
1,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-08,100.0,1,0.10,105,ALTAMAR BRANDS LLC
2,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-12,100.0,1,0.10,105,ALTAMAR BRANDS LLC
3,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-17,100.0,1,0.10,105,ALTAMAR BRANDS LLC
4,1_HARDERSFIELD_8419,1,8419,Ocho Tequila Plata Corrales,100mL,1,6.99,6.99,2024-01-19,100.0,1,0.10,105,ALTAMAR BRANDS LLC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-16,750.0,1,0.79,105,ALTAMAR BRANDS LLC
263,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-23,750.0,1,0.79,105,ALTAMAR BRANDS LLC
264,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-04,750.0,1,0.79,105,ALTAMAR BRANDS LLC
265,73_DONCASTER_8412,73,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-19,750.0,1,0.79,105,ALTAMAR BRANDS LLC
266,76_DONCASTER_8412,76,8412,Tequila Ocho Plata Fresno,750mL,1,49.99,49.99,2024-12-31,750.0,1,0.79,105,ALTAMAR BRANDS LLC

In [9]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity  Dollars
Brand PurchasePrice
2529  23.25                12    279.0
8412  35.71               320  11427.2

In [10]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,8412,Tequila Ocho Plata Fresno,49.99,750mL,750,1,35.71,105,ALTAMAR BRANDS LLC
1,8419,Ocho Tequila Plata Corrales,6.99,100mL,100,1,5.30,105,ALTAMAR BRANDS LLC
2,2529,Right Gin,29.99,750mL,750,1,23.25,105,ALTAMAR BRANDS LLC

In [11]:
vendor_invoice['PONumber'].is_unique

True

In [12]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
2529         359.88       59.98             12
8412       15346.93    12947.41            307
8419          41.94       41.94              6

Summary from the above analysis-------

The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.

The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.

The vendor_invoice table aggregates data from the purchases table, su arizing quantity and doar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.

The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:

purchase transactions made by vendors

sales transaction data

freight costs for each vendor

actual product prices from vendors

In [13]:
freight_summary = pd.read_sql_query("select VendorNumber, SUM(Freight) as FreightCose from vendor_invoice Group BY VendorNumber",conn)
freight_summary

     VendorNumber  FreightCose
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [14]:
pd.read_sql_query("""select p.VendorName,
p.VendorNumber, 
p.Brand, 
p.PurchasePrice, 
pp.Volume,
pp.Price as AcutalPrice,
SUM(p.Quantity) as TotalPurchaseQuantity, 
SUM(p.Dollars) as TotalPurchaseDollars
from purchases p
JOIN Purchase_prices pp ON p.Brand=pp.Brand
GROUP BY p.VendorNumber,p.Vendorname,p.Brand
ORDER BY TotalPurchaseDollars""",conn)

,VendorName,VendorNumber,Brand,PurchasePrice,Volume,AcutalPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,EDRINGTON AMERICAS,2561,2166,0.00,750,0.00,2015,0.00
1,PROXIMO SPIRITS INC.,7245,3065,0.71,50,0.99,1,0.71
2,DIAGEO NORTH AMERICA INC,3960,6127,1.47,200,1.99,1,1.47
3,HEAVEN HILL DISTILLERIES,3924,9123,0.74,50,0.99,2,1.48
4,SAZERAC CO INC,8004,5683,0.39,50,0.49,6,2.34
...,...,...,...,...,...,...,...,...
10688,DIAGEO NORTH AMERICA INC,3960,3545,21.89,1750,29.99,138109,3023206.01
10689,DIAGEO NORTH AMERICA INC,3960,4261,16.17,1750,22.99,201682,3261197.94
10690,PERNOD RICARD USA,17035,8068,18.24,1750,24.99,187407,3418303.68
10691,MARTIGNETTI COMPANIES,4425,3405,23.19,1750,28.99,164038,3804041.22
10692,BROWN-FORMAN CORP,1128,1233,26.27,1750,36.99,145080,3811251.60

Some Brand have purchase price as 0 which can be due to the wrong input so we need to resolve it.

In [15]:
pd.read_sql_query("""select p.VendorName,
p.VendorNumber, 
p.Brand, 
p.PurchasePrice, 
pp.Volume,
pp.Price as AcutalPrice,
SUM(p.Quantity) as TotalPurchaseQuantity, 
SUM(p.Dollars) as TotalPurchaseDollars
from purchases p
JOIN Purchase_prices pp ON p.Brand=pp.Brand
Where p.PurchasePrice>0
GROUP BY p.VendorNumber,p.Vendorname,p.Brand
ORDER BY TotalPurchaseDollars""",conn)

,VendorName,VendorNumber,Brand,PurchasePrice,Volume,AcutalPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,PROXIMO SPIRITS INC.,7245,3065,0.71,50,0.99,1,0.71
1,DIAGEO NORTH AMERICA INC,3960,6127,1.47,200,1.99,1,1.47
2,HEAVEN HILL DISTILLERIES,3924,9123,0.74,50,0.99,2,1.48
3,SAZERAC CO INC,8004,5683,0.39,50,0.49,6,2.34
4,WINE GROUP INC,9815,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,DIAGEO NORTH AMERICA INC,3960,3545,21.89,1750,29.99,138109,3023206.01
10688,DIAGEO NORTH AMERICA INC,3960,4261,16.17,1750,22.99,201682,3261197.94
10689,PERNOD RICARD USA,17035,8068,18.24,1750,24.99,187407,3418303.68
10690,MARTIGNETTI COMPANIES,4425,3405,23.19,1750,28.99,164038,3804041.22
10691,BROWN-FORMAN CORP,1128,1233,26.27,1750,36.99,145080,3811251.60

In [16]:
pd.read_sql_query(""" SELECT
VendorNo,
Brand,
SUM(SalesDollars) as TotalSalesDollars,
SUM(SalesPrice) as TotalSalesPrice,
SUM(SalesQuantity) as TotalSalesQuantity,
SUM(ExciseTax) as TotalExciseTax
From sales
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars""",conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,9.800000e-01,0.98,2,0.10
1,9206,2773,9.900000e-01,0.99,1,0.05
2,3252,3933,1.980000e+00,0.99,2,0.10
3,3924,9123,1.980000e+00,0.99,2,0.10
4,10050,3623,1.980000e+00,1.98,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4.223108e+06,545778.28,135838,249587.83
11268,3960,4261,4.475973e+06,420050.01,200412,368242.80
11269,17035,8068,4.538121e+06,461140.15,187140,343854.07
11270,4425,3405,4.819073e+06,561512.37,160247,294438.66
11271,1128,1233,5.101920e+06,672819.31,142049,260999.20

In [17]:
# This is not an optmized query and it will take lots of time and run out of memory due to large size.


# import time
# start = time.time()
# final_table = pd.read_sql_query("""SELECT
# pp.VendorNumber,
# pp.Brand,
# pp.Price as ActualPrice,
# pp.PurchasePrice,
# SUM(s.SalesQuantity) AS TotalSalesQuantity,
# SUM(s.SalesDollars) AS TotalSalesDollars,
# SUM(s.SalesPrice) AS TotalSalesPrice,
# SUM(s.ExciseTax) AS TotalExciseTax,
# SUM(vi.Quantity) AS TotalPurchaseQuantity,
# SUM(vi.Dollars) AS TotalPurchaseDollars,
# SUM(vi.Freight) AS TotalFreightCost
# FROM purchase_prices pp
# JOIN sales s
# ON pp.VendorNumber = s.VendorNO
# AND pp.Brand = S.Brand
# JOIN vendor_invoice vi
# ON pp.VendorNumber = vi.VendorNumber
# GROUP BY pp.VendorNumber, pp.Brand, pp.Price, pp.PurchasePrice""",conn)

# end = time.time()

In [19]:
# since above query is not optimized new query is written in which different summary tables is created than joined with each other using left join
vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS(
SELECT
VendorNumber,
SUM(Freight) AS FreightCost
FROM vendor_invoice
GROUP BY VendorNumber
),

PurchaseSummary AS(
Select
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
p.Description,
pp.Price AS ActualPrice,
pp.Volume,
SUM(p.Quantity) AS TotalPurchaseQuantity,
SUM(p.Dollars) AS TotalPurchaseDollars
FROM purchases p
JOIN purchase_prices pp
ON p.Brand = pp.Brand
WHERE p.PurchasePrice>0
GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.volume),

SalesSummary AS(
SELECT
VendorNo,
Brand,
SUM(SalesQuantity) AS TotalSalesQuantity,
SUM(SalesDollars) AS TotalSalesDollars,
SUM(SalesPrice) AS TotalSalesPrice,
SUM(ExciseTax) AS TotalExciseTax
FROM Sales
GROUP BY VendorNo, Brand)

SELECT
ps.VendorNumber,
ps.VendorName,
ps.Brand,
ps.Description,
ps.PurchasePrice,
ps.ActualPrice,
ps.Volume,
ps.TotalPurchaseQuantity,
ps.TotalPurchaseDollars,
ss.TotalSalesQuantity,
ss.TotalSalesDollars,
ss.TotalSalesPrice,
ss.TotalExciseTax,
fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
ON ps.VendorNumber = ss.VendorNo
AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""",conn)

In [20]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,5.0,1.595000e+01,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,134.0,6.566000e+01,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,2.0,1.980000e+00,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,72.0,1.432800e+02,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,86.0,8.514000e+01,33.66,4.46,38994.78

This query generates a vendor-wise sales and purchase summary, which is valuable for:
Performance Optimization:

The query involves heavy joins and aggregations on large datasets like sales and purchases.
Storing the pre-aggregated results avoids repeated expensive computations.
Helps in analyzing sales, purchases, and pricing for different vendors and brands.
Fuţure Benefits of Storing this data for faster Dashboarding & Reporting.
• Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [21]:
vendor_sales_summary.dtypes # here volume is in object which should be in float or integer value

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [22]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [23]:
vendor_sales_summary.isnull().sum() #Total salesquantity, SalesDollars, SalesPrice, EXcisetax have null values mybe b/c some vendor puchased items but didn't sold them

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
FreightCost                0
dtype: int64

In [24]:
vendor_sales_summary.fillna(0,inplace = True)
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
dtype: int64

In [25]:
vendor_sales_summary['VendorName'].unique() #we can observe extra spaces after the vendor name

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [26]:
vendor_sales_summary['Description'].unique() #no inconsistency

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

In [27]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

Creating Features for better insights

In [28]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollars']

In [29]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars'])*100

In [30]:
vendor_sales_summary['StoctTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [31]:
vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [32]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'StoctTurnover', 'SalesToPurchaseRatio'],
      dtype='object')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute("Drop table vendor_sales_summary")

In [ ]:
cursor.execute("""CREATE TABLE vendor_sales_summary(
VendorNumber INT,
VendorName VARCHAR(100),
Brand INT,
Description VARCHAR(100),
PurchasePrice DECIMAL(10,2),
ActualPrice DECIMAL(10,2),
Volume,
TotalPurchaseQuantity INT,
TotalPurchaseDollars DECIMAL(15,2),
TotalSalesQuantity INT,
TotalSalesDollars DECIMAL(15,2),
TotalSalesPrice DECIMAL(15,2),
GrossProfit DECIMAL(15,2),
TotalExciseTax DECIMAL(15,2),
FreightCost DECIMAL(15,2),
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2),
SalesToPurchaseRatio DECIMAL(15,2),
PRIMARY KEY (vendorName, Brand)
);
""")

In [33]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5.0,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134.0,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2.0,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72.0,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86.0,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493

In [34]:
vendor_sales_summary.to_sql('vendor_sales_summary',conn,if_exists='replace', index = False)

10692

In [35]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StoctTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5.0,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134.0,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2.0,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72.0,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86.0,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493

In [ ]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

for handler in logging.root.handlers[:]:
    logging.root.removeHandler(handler)
logging.basicConfig(
    filename = "logs/get_vendor_summary.log",
    level = logging.DEBUG,
    format = "%(asctime)s - %(levelname)s - %(message)s",
    filemode = "a"
)

def create_vendor_summary(conn):
    ''' This function will merge the differnt tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS(
    SELECT
    VendorNumber,
    SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS(
    Select
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.PurchasePrice,
    p.Description,
    pp.Price AS ActualPrice,
    pp.Volume,
    SUM(p.Quantity) AS TotalPurchaseQuantity,
    SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp
    ON p.Brand = pp.Brand
    WHERE p.PurchasePrice>0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.volume),
    
    SalesSummary AS(
    SELECT
    VendorNo,
    Brand,
    SUM(SalesQuantity) AS TotalSalesQuantity,
    SUM(SalesDollars) AS TotalSalesDollars,
    SUM(SalesPrice) AS TotalSalesPrice,
    SUM(ExciseTax) AS TotalExciseTax
    FROM Sales
    GROUP BY VendorNo, Brand)
    
    SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseDollars DESC""",conn)

    return vendor_sales_summary

def clean_data(df):
    '''This function will cleant the data'''
    #changing volume datatype to float
    df['Volume'] = df['Volume'].astype('float64') 
    #filling missing values with 0
    df.fillna(0,inplace = True) 
    #removing spaces from categorical columns
    df['VendorName'] = df['VendorName'].str.strip() 
    #creating new features/columns for better analysis
    df['GrossProfit'] = df['TotalSalesDollars']-df['TotalPurchaseDollars']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesDollars'])*100
    df['StockTurnover'] = df['TotalSalesQuantity']/df['TotalPurchaseQuantity']
    df['SalesToPurchaseRatio'] = df['TotalSalesDollars']/df['TotalPurchaseDollars']

    return df

if __name__ == '__main__':
    #creating databse connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Table.......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data.......')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingestion data......')
    ingest_db(clean_df,'vendor_sales_summary',conn)
    logging.info('Completed')